.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 97px;
    margin-bottom: 62px;
    margin-left: 50px;
    margin-right: 50px;
    width: 91%;
    height: 632px;
    background: #ffffffe0;
    opacity: inherit;
    border: 4px solid rgba(255, 255, 255, 0.162);
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(0, 0, 0);


}
.header{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: #000000;
    font-size: 48px;
    font-weight: 700;
    margin: 0px 5px 0px 755px;
    
}

.underline{
    width: 61px;
    height: 6px;
    background: #2a007f;
    border-radius: 9px;
    margin:0px 5px 0px 755px;

}

.inputs{
    margin: 55px 5px 0px 720px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin:auto;
    width: 480px;
    height: 60px;
    background: #ffffff;
    border: 4px solid rgba(255, 255, 255, 0.984);
    border-radius: 15px;
    box-shadow:rgb(31, 29, 29);
}
.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background:transparent;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 19px;
}

.forgot-password{
    padding-left: 62px;
    margin: 27px 5px 0px 580px;
    color: #000000;
    font-size: 18px;
}

.forgot-password span{
    color: #a31bd0;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 46px -7px 0px 700px;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    transition: width 2s,height 4s;
    color: #ffffff;
    background: #3b0685;
    opacity: 10;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #ffffff;
    color: #111010;
}

html{
    background-image: url(family2.jpg),linear-gradient(rgba(10, 18, 111, 0.701),rgba(12, 10, 14, 0.867));
   background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}
.imge{
    display: flex;
    position: absolute;
    top: 2px;
    height:90px;
    width:100px;
    left: 16px;

  }
  .heading{
    width:100px;
    padding-left: 10px;;
  }
  .main{
    background-image: url(family2.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
    position: absolute;
    left: 63px;
    height:633px;
    width:790px;
   
   
  }
 

