/* SignupPage Styles (for SignupPage.jsx) */

/* Container */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    background-color: #f0f0f0;
    flex-direction: column;
  }
  
  /* Form */
  .signup-form {
    width: 450px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Title */
  .signup-title {
    color:rgb(254, 252, 252);
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Input Container */
  .input-container {
    margin: 10px 0;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-container input {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
  }
  
  /* Sign Up Button */
  .signup-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
  }
  
  .signup-form button:hover {
    background-color: #0056b3;
  }
  
  /* Login Link */
  .signup-login-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  .signup-login-link:hover {
    text-decoration: underline;
  }
  
  /* Error Message */
  .error-message {
    color: red;
    margin-top: 10px;
  }
  .sg{
    display: flex;
    background-image:linear-gradient( #003b79,black);
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  
  }
  