
.logo{
  margin: -140px -255px -90px -37px;
}

.company{
  width: 50%;
}

.navbar {
    background-color:#07122c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
  }
  
  .navbar a {
    text-decoration: none;
    color: rgb(255, 249, 249);
    font-weight: bold;
    /* margin: 0 20px; */
    padding: 5px 10px; /* Add the unit, e.g., pixels */
    transition: border-bottom 0.2s ease-in;
  }
  
  .navbar a:hover {
    border-bottom: 2px solid white;
  }
  .navbar-profile button{
    background-image:url(ptu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:50px;
    height: 50px;
    
  }

  .profile-dropdown{
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    background-color: #071263;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .profile-dropdown button{
    white-space: nowrap;   
    width: 130px;
    background: rgba(255, 255, 255, 0);
    color: azure;
    border-radius: 5px;
    margin:1px 10px;
  }
